# Ambientes Virtuais (Python)
venv/
.venv/
env/
ENV/

# Arquivos de Configuração e Chaves Privadas (SEGURANÇA)
.env
*.json
!dbt_project.yml # Garante que o arquivo do dbt NÃO seja ignorado

# Cache do Python e Streamlit
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.streamlit/config.toml
.streamlit/secrets.toml

# Logs e pastas geradas pelo dbt que não devem ir ao Git
finance_analytics/logs/
finance_analytics/target/
finance_analytics/dbt_packages/
logs/dbt.log
